// src/app/features/layout/layout.component.scss
.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
  background: #fafafa;
  //margin-top: 40px;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 60px);

  &.collapsed {
    margin-left: 70px;
  }
}

// Responsividade
@media (max-width: 768px) {
  .content {
    margin-left: 0;

    &.collapsed {
      margin-left: 0;
    }
  }
}
